@font-face {
    font-family: "FuturaBook";
    src: url("../letra/Futura/fBook.TTF");
}
.futuraBook{
    font-family: "FuturaBook";
    font-weight: 36;
}
html{
    width: 100vw;
    height: 95rem;
    overflow-x: hidden;
    background-color: #ffffff;
}
body{
    width: 100vw;
    height: 100%;
}
#btnH{
    display: none;
}
#logo{
    width: 24rem;
}
.bgBlack{
    background-color: black;
}
.white{
    color: #ffffff;
}
section{
    text-align: center;
}
.carousel-item{
    width: 124rem;
}
.divButtons{
    position: absolute;
    top: 25rem;
}
.mainButton{
    width: 40rem;
    border-radius: 0.2rem;
    background: white;
    margin-top: 5rem;
    margin-bottom: 5rem;
    padding: 3rem 0 3rem 0;
    font-size: 2rem;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 15rem;
    text-align: center;
    padding-top: 6rem;
    font-size: 2rem;
}

.darkGrey{
    color: #343333;
}
#iconesNav a{
    display: inline-block;
    font-size: 25px;
    color: white;
    letter-spacing: 20px;
}
#iconesNav a:hover{
    color: #0c86c7;
}
