@font-face {
    font-family: "FuturaBook";
    src: url("../letra/Futura/fBook.TTF");
}
.futuraBook{
    font-family: "FuturaBook";
    font-weight: 36;
}
html{
    overflow-x: hidden;
    width: 100%;
}
header{
    z-index: 9997;
}
section{
    background-image: linear-gradient(to bottom, #ffffff, #b9b9b9, #777777, #3b3b3b, #000000);
}
/*Link color of navbar*/
.navBarA{
    color: white;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-left: 1rem;
    border-bottom: 2px solid black;
    transition: border 0.5s, color 0.5s;
}
.navBarA:hover{
    color: #0c86c7;
    border-bottom: 2px solid #0c86c7;
}
/*Button Icon*/
#icon{
    color: white;
}
#info {
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 5rem;
}
#info h1{
    font-weight: bold;
}
#info p{
    margin-top: 2rem;
    text-align: center;
}
#iconos h5{
    color: #ffffff;
    font-size: 20px;
    text-shadow: -0.5px 0.5px 0 #3b3a3a,
    0.5px 0.5px 0 #3b3a3a,
    0.5px -0.5px 0 #3b3a3a,
    -0.5px -0.5px 0 #3b3a3a;
}
#iconos p{
    color: #bababa;
    font-size: 18px;
    text-shadow: -0.5px 0.5px 0 #3b3a3a,
    0.5px 0.5px 0 #3b3a3a,
    0.5px -0.5px 0 #3b3a3a,
    -0.5px -0.5px 0 #3b3a3a;
}
#reparacion{
    text-align: center;
    margin: auto;
}
#reparar{
    font-size: 2rem;
}
/*Footer*/
footer{
    margin-top: -0.5rem;
}
#modalContact{
    margin: auto;
}
#modalP{
    text-align: center;
}
/*Class Baloo (Font family)*/
.baloo{
    font-family: 'Baloo 2', cursive;
}
.text{
    font-weight: bolder;
    font-size: 2rem;
    letter-spacing: 3px;
    color: #ffffff;
}
.textCenter{
    text-align: center;
}
.textBold{
    font-weight: bolder;
}
.textReparar{
    width: 20rem;
    font-size: 1.2rem;
    margin: auto;
    margin-top: 3rem;
    color: white;
}
.darkGrey{
    color: #343333;
}
.darkGrey:hover {
    color: #aeacac;
}
/*Background black*/
.bgBlack{
    background-color: black;
}
/*Color dropdown-divider*/
.dropdown-divider{
    background-color: #3c515d;
}
/*Class uppercase*/
.uppercase{
    text-transform: uppercase;
}
.center{
    text-align: center;
}
.paddingTB{
    padding-top: 3rem;
    padding-bottom: 2rem;
}
.paddingBottom{
    padding-bottom: 10rem;
}
.botonesInfo{
    padding: 1.5rem 0 1.5rem 0;
    margin-top: 1rem;
    text-align: center;
    letter-spacing: 5px;
    width: 25rem;
    border-radius: 0.2rem;
    background: white;
}
.grey{
    color: #7e7d7d;
}
.textWhite{
    color: white;
    text-decoration: none;
}
.textWhite:hover{
    color: white;
}
.linea{
    margin: auto;
    width: 30%;
    border-top: 1px solid #353535;
    margin-bottom: 1rem;
}
.width{
    width: 100.9%;
}
.imgLogos{
    width: 20rem;
}
.iconos{
    width: 8rem;
}
.divIcon{
    margin-right: 2rem;
}
.flex-container {
    display: flex;
    justify-content: center;
}
.flex-container > div {
    margin: 10px;
    text-align: center;

}
.width85 {
    width: 85%;
    margin: auto;
}
.big{
    font-size: 25px;
    margin-right: 10px;
}
.big1{
    font-size: 40px;
    margin-right: 10px;
}
.marginBottom{
    margin-bottom: 3rem;
}
#iconesNav{
    display: none;
}

/*Media Pantalla pequeña*/
@media only screen
and (max-width: 1050px) {

}

/*Media Pantalla movil*/
@media only screen
and (min-width: 1400px) {

}