@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@font-face {
    font-family: "Futura";
    src: url("../letra/Futura/f1.TTF");
}
.futura{
    font-family: "Futura";
    font-weight: 36;
}
@font-face {
    font-family: "FuturaBook";
    src: url("../letra/Futura/fBook.TTF");
}
.futuraBook{
    font-family: "FuturaBook";
    font-weight: 36;
}
html{
    overflow-x: hidden;
    width: 100%;
}
header{
    z-index: 9997;
}

body{
    padding: 0;
}
section{
    background-image: linear-gradient(to bottom, #ffffff, #b9b9b9, #777777, #3b3b3b, #000000);
}
/*Link color of navbar*/
.navBarA{
    color: white;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-left: 1rem;
    border-bottom: 2px solid black;
    transition: border 0.5s, color 0.5s;
}
.navBarA:hover{
    color: #0c86c7;
    border-bottom: 2px solid #0c86c7;
}
/*Button Icon*/
#icon{
    color: white;
}
#camaraV{
    position: absolute;
    left: 0;
}
/*Particles*/
#particles-js{
    width: 110%;
    z-index: -99;
}
#mapa{
    z-index: 0;
    cursor: default;
}
#videovigilancia{
    position: relative;
    top: 3rem;
}
#seguridad{
    position: relative;
    top: -1rem;
}
#videovigilancia, #seguridad{
    text-align: center;
    cursor: default;
}
#videovigilancia p,#seguridad p{
    color: #bababa;
    font-size: 18px;
    text-shadow: -0.5px 0.5px 0 #3b3a3a,
    0.5px 0.5px 0 #3b3a3a,
    0.5px -0.5px 0 #3b3a3a,
    -0.5px -0.5px 0 #3b3a3a;
}
/*Footer*/
footer{
    margin-top: -0.5rem;
}
#modalContact{
    margin: auto;
}
#modalP{
    text-align: center;
}
/*Class Baloo (Font family)*/
.baloo{
    font-family: 'Baloo 2', cursive;
}
.text{
    font-weight: bolder;
    letter-spacing: 3px;
    color: #ffffff;
}
/*Background black*/
.bgBlack{
    background-color: black;
}
.black{
    color: black;
}
/*Color dropdown-divider*/
.dropdown-divider{
    background-color: #3c515d;
}
/*Class uppercase*/
.uppercase{
    text-transform: uppercase;
}
.center{
    text-align: center;
}
.paddingTB{
    padding-top: 3rem;
    padding-bottom: 2rem;
}
.grey{
    color: #7e7d7d;
}
.textWhite{
    color: white;
    text-decoration: none;
}
.textWhite:hover{
    color: white;
}
.linea{
    margin: auto;
    width: 30%;
    border-top: 1px solid #353535;
    margin-bottom: 1rem;
}
.darkGrey{
    color: #343333;
}
.darkGrey:hover {
    color: #aeacac;
}
.width102{
    width: 100.9%;
}
.ubuntu{
    font-family: 'Ubuntu', sans-serif;
}
.lineaBottom{
    border-bottom: 2px solid grey;
}
.alingJust{
    text-align: justify;
}
.botonesInfo{
    padding: 1.5rem 0 1.5rem 0;
    margin-top: 1rem;
    text-align: center;
    letter-spacing: 5px;
    width: 25rem;
    border-radius: 0.2rem;
    background: white;
}

#iconesNav{
    display: none;
}
/*Media Pantalla movil*/
@media only screen
and (max-width: 1050px) {

}

/*Media Pantalla pequeña*/
@media only screen
and (min-width: 1400px) {

}